html,body,footer{
  margin: 0px;
  font-family: Helvetica, Roboto, Arial;
}

.wrapper{
  width: 90%;
  max-width: 100%;
  margin:auto;
  overflow: hidden;
}

header .logo{
  float:left;
  line-height: 200px;
}

header nav{
  float:right;
  line-height: 120px;
}

header nav a{
 display:inline-block;
 color: white;
 text-decoration: none;
 padding: 10px 20px;
 line-height:normal;
 font-size: 16px;
 font-weight: normal;
 -webkit-transition: all 500ms ease;
 -o-transition: all 500ms ease;
 transition: all 500ms ease;
}

header nav a:hover{
  background: #333333;
  opacity: 0.80;
  border-style: groove;
}

.header2 {
  position: fixed;
  height: 100px;
}

.header2 .logo{
  line-height: 200px;
  font-size: 30px;
}

.header2 nav{
  line-height: 100px;
  font-size: 30px;
}


section.hero-image{
  height: 100vh;
  background: url("../images/background.jpg");
  background-size:cover;
  background-position: center;
  color: white;
  padding: 1em;
  overflow: hidden;
}

section.hero-image h1{
  font-size: 75px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  word-spacing: -.2ch;
  padding-top: 50px;
}

section.hero-image h2{
  font-size: 75px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  word-spacing: -.2ch;
}

section.hero-image p{
  font-size: 25px;
  margin: 0px;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
  padding-top: 20px;
  padding-bottom: 50px;
}

section.content p{
  font-size: 16px;
  margin-left: 20%;
  margin-right: 20%;
  color: gray;
  font-weight: normal;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-align: center;
}

section.content h3{
  font-size: 20px;
  margin: 0px;
  color: black;
  padding-top: 5%;
  padding-bottom: 0.5%;
  text-align: center;
  font-weight: normal;
}

section.footer-image{
  height: 38vh;
  background: url("../images/footer.png");
  background-size:cover;
  background-position: center;
  color: white;
  padding: 0px;
  overflow: hidden;
  color: white;
  font-size: 15px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  padding-top: 40px;
}

section.footer-image a{
  font-size: 15px;
  text-align: center;
  color: white;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

section.footer-image h4{
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 1px;
  padding-top: 1px;
}

section.footer-image p{
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 5px;
  padding-top: 5px;
}


@media screen and (max-width: 950px){
  header .logo,
  header nav{
    width: 100%;
    text-align: center;
    line-height: 100px;
  }
  .header2{
    height: auto;
  }

  .header2 .logo,
  .header2 nav{
    line-height: 50px;
  }



}
